@import url(http://fonts.googleapis.com/css?family=Capriola);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
 /* line-height: 1;*/
  display: inline;
  position: relative;
  z-index: 3;
  /*left: 50px;*/
  font-family: Capriola, Helvetica, sans-serif;
  text-align: center;
}
#cssmenu {
  /*width: 200px;*/
  /*height: 50px;*/
  padding-bottom: 0px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
  position: absolute;
}
#cssmenu #bg-one {
  height: 50px;
  background: #181818 ;
}
#cssmenu #bg-two {
  height: 59px;
  z-index: 2;
}
#cssmenu #bg-three {
  bottom: 0px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
  bottom: 0px;
  height: 55px;
  z-index: 4;
}
#cssmenu ul {
  height: 59px;
}
#cssmenu ul li {
  /*float: left; */
  margin-right: 19px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 5;
}
#cssmenu ul li a {
  padding: 0px 0px 00px 0px;
  margin-bottom: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #FF6600;
  font-size: 15px;
  text-decoration: none;
}
#cssmenu ul li:hover
{
background: -moz-linear-gradient(left,  rgba(119,119,119,0.65) 0%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(119,119,119,0.65)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(left,  rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left,  rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(left,  rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right,  rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6777777', endColorstr='#00000000',GradientType=1 );
}
#cssmenu ul li.active {
  background: #404040 ;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a 
{
  color: #FF3300;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    position: absolute;
    width: 250px;
    top: 100px;
    left: 112px;
    z-index: 1px;
    border-collapse: collapse;
}
#customers td, #customers th {
    font-size: 0.7em;
    border: 1px solid #404040 ;
    padding: 2px 2px 2px 2px;
}
#customers th {
    font-size: 0.7em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #404040;
    color: #ffffff;
}
#customers tr.alt td {
    color: #000000;
    background-color: #E8E8E8;
}

#game_set:hover{
background: -moz-linear-gradient(left,  rgba(226,226,226,0.65) 0%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,226,226,0.65)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(left,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(left,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e2e2e2', endColorstr='#00000000',GradientType=1 );

}
#game_set1:hover{
background: -moz-linear-gradient(left,  rgba(226,226,226,0.65) 0%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,226,226,0.65)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(left,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(left,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e2e2e2', endColorstr='#00000000',GradientType=1 );


}
#game_set2:hover{
background: -moz-linear-gradient(left,  rgba(226,226,226,0.65) 0%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,226,226,0.65)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(left,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(left,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right,  rgba(226,226,226,0.65) 0%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e2e2e2', endColorstr='#00000000',GradientType=1 );

}
#sidebar ul div.active{
background: -moz-linear-gradient(left,  rgba(119,119,119,0.65) 0%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(119,119,119,0.65)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(left,  rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left,  rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(left,  rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right,  rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6777777', endColorstr='#00000000',GradientType=1 );
}
